@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

::-webkit-scrollbar {
  display: none;
}

/* cursor types */
html{
  cursor:url(icon/heart.cur), auto;
}
input,textarea{
  cursor:url(icon/text.cur), auto;
}
a,#button,select,i{
  cursor:url(icon/heart2.cur), auto;
}

::placeholder{
  color: rgba(131, 240, 121, 0.363);
}
:focus::placeholder {
  color: transparent;
}
*:focus{
  outline: none;
}
body{
    user-select: none;  
    /* background-image:url(icon/wedbg.png); */
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,0.3)), url(icon/wedbg.png) center center /cover;
    height: 100vh;
    color: white;
    font-size: 18px;
    font-family: Arial;
    overflow: hidden;
  }
  #div1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    background-color:rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    width:450px;
    height: 620px;
    padding:20px;
  }
  #button{
    background-color: #32a852;
    border: 1px solid gray;
    padding: 10px;
    font-size: 18px;
    color: #32a852;
  }
  input{
    font-size: 15px;
  }
  a:link, a:visited{
    color: #32a852;
    text-decoration: none;
  }
  a:link#a1, a:visited#a1{
    color:yellow;
    text-decoration: none;
  }
  select,input[type=text],input[type=number],input[type=password]{
    border: 0px solid transparent;
    width:300px;
    height:30px;
    font-size: 15px;
    margin: 10px;
    padding-left: 10px;
    background: transparent;
    color: #32a852;
  }
  select{
    border:2px solid#32a852;
    width: 360px;
    height: 50px;
    margin-top: 20px;
  }
  select option{
    background:#32a852;
    color: black;
  }
  textarea{
      width: 350px;
      margin: 10px;
      font-size: 15px;
      padding-left: 10px;
      padding-top: 10px;
      color: black;
      background: transparent;
      border: 2px solid #32a852;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus{
      -webkit-animation: autofill 0s forwards;
       animation: autofill 0s forwards;
  }
  
  @keyframes autofill {
      100% {
          background: transparent;
          color: #1f6632;
      }
  }
  
  @-webkit-keyframes autofill {
      100% {
          background: transparent;
          color: #1f6632;
      }
  }
  #button{
    border:2px solid #1f6632;
    padding:5px 20px;
    background:linear-gradient(#32a852,#32a852) center/100% 0px no-repeat;
    transition:0.2s all linear;
  }
  #button:hover {
    background-size:100% 100%;
    color: black;
  }
  #textdes{
    border-bottom:2px solid #32a852; 
    width:80%;
  }
  label{
    position: absolute;  
    right:70px; 
    font-size: 15px;
  }